# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Burp Extender base APIs
Extender/burp/IBurpCollaboratorClientContext.java
Extender/burp/IBurpCollaboratorInteraction.java
Extender/burp/IBurpExtender.java
Extender/burp/IBurpExtenderCallbacks.java
Extender/burp/IContextMenuFactory.java
Extender/burp/IContextMenuInvocation.java
Extender/burp/ICookie.java
Extender/burp/IExtensionHelpers.java
Extender/burp/IExtensionStateListener.java
Extender/burp/IHttpListener.java
Extender/burp/IHttpRequestResponse.java
Extender/burp/IHttpRequestResponsePersisted.java
Extender/burp/IHttpRequestResponseWithMarkers.java
Extender/burp/IHttpService.java
Extender/burp/IInterceptedProxyMessage.java
Extender/burp/IIntruderAttack.java
Extender/burp/IIntruderPayloadGenerator.java
Extender/burp/IIntruderPayloadGeneratorFactory.java
Extender/burp/IIntruderPayloadProcessor.java
Extender/burp/IMenuItemHandler.java
Extender/burp/IMessageEditor.java
Extender/burp/IMessageEditorController.java
Extender/burp/IMessageEditorTab.java
Extender/burp/IMessageEditorTabFactory.java
Extender/burp/IParameter.java
Extender/burp/IProxyListener.java
Extender/burp/IRequestInfo.java
Extender/burp/IResponseInfo.java
Extender/burp/IResponseKeywords.java
Extender/burp/IResponseVariations.java
Extender/burp/IScanIssue.java
Extender/burp/IScannerCheck.java
Extender/burp/IScannerInsertionPoint.java
Extender/burp/IScannerInsertionPointProvider.java
Extender/burp/IScannerListener.java
Extender/burp/IScanQueueItem.java
Extender/burp/IScopeChangeListener.java
Extender/burp/ISessionHandlingAction.java
Extender/burp/ITab.java
Extender/burp/ITempFile.java
Extender/burp/ITextEditor.java

#JSON for Java source files
Extender/org/json/CDL.java
Extender/org/json/Cookie.java
Extender/org/json/CookieList.java
Extender/org/json/HTTP.java
Extender/org/json/HTTPTokener.java
Extender/org/json/JSONArray.java
Extender/org/json/JSONException.java
Extender/org/json/JSONML.java
Extender/org/json/JSONObject.java
Extender/org/json/JSONString.java
Extender/org/json/JSONStringer.java
Extender/org/json/JSONTokener.java
Extender/org/json/JSONWriter.java
Extender/org/json/Property.java
Extender/org/json/README
Extender/org/json/XML.java
Extender/org/json/XMLTokener.java
Node/org/json/CDL.java
Node/org/json/Cookie.java
Node/org/json/CookieList.java
Node/org/json/HTTP.java
Node/org/json/HTTPTokener.java
Node/org/json/JSONArray.java
Node/org/json/JSONException.java
Node/org/json/JSONML.java
Node/org/json/JSONObject.java
Node/org/json/JSONString.java
Node/org/json/JSONStringer.java
Node/org/json/JSONTokener.java
Node/org/json/JSONWriter.java
Node/org/json/Property.java
Node/org/json/README
Node/org/json/XML.java
Node/org/json/XMLTokener.java
